.offline {
    height: 100vh;
    width: calc(100vw - 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bg-base;

    @include media-breakpoint-up(lg) {
        width: 100vw;
    }
}

.offline__text {
    font-size: 1.125rem;
    font-weight: 500;
    color: $text-secondary;

    @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
    }
}
