.offline {
    height: 100vh;
    width: calc(100vw - 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bg-base;

    @include media-breakpoint-up(lg) {
        width: 100vw;
    }
}

.offline__icon {
    font-size: 4rem;
    color: $text-tertiary;
    margin-bottom: 20px;
}

.offline__title {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    margin-bottom: 12px;
}

.offline__button {
    margin-top: 28px;
}

.offline__text {
    font-size: 1.125rem;
    font-weight: 500;
    color: $text-secondary;

    @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
    }
}
