.setup-page {
    display: none;

    &--show {
        display: block;
    }
}

.setup__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: $small-spacing;
    position: relative;
}

.setup__back {
    font-size: 1.5rem;
    position: absolute;
    left: 0;

    @include media-breakpoint-up(lg) {
        left: 20px;
    }
}

.setup__nav-page {
    font-weight: 300;
    font-size: 0.875rem;
}

.setup__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setup__heading-title {
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
}

.setup__heading-subtitle {
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
}

.setup__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: $medium-spacing;
}

.setup__swiper {
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
    position: relative;
    margin-top: 220px;
    margin-bottom: 220px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        margin-top: 250px;
        margin-bottom: 250px;
    }

    &--vertical {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 87px;
        margin-bottom: 87px;

        @include media-breakpoint-up(lg) {
            margin-top: 117px;
            margin-bottom: 117px;
        }
    }

    &--small {
        margin-top: 76px;
        margin-bottom: 76px;

        @include media-breakpoint-up(lg) {
            margin-top: 117px;
            margin-bottom: 117px;
        }
    }
}


.setup__swiper:before {
    content: "";
    position: absolute;
    height: 84px;
    width: 50%;
    border-top: 2px solid $color-7;
    border-bottom: 2px solid $color-7;
    top: 0;
    left: 25%;
}

.setup__swiper--vertical:before {
    top: 50%;
    height: 70px;
    transform: translateY(-50%);
}

.swiper-slide-active {
    font-weight: 700;
}

.setup__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-container {
   &--vertical {
       height: 350px;
   }
}

.swiper-slide {
  text-align: center;
    height: fit-content;
}

.setup__select-wrapper {
    padding-top: 137px;
    padding-bottom: 137px;

    @include media-breakpoint-up(lg) {
        padding-top: 167px;
        padding-bottom: 167px;
    }
}

.setup__select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: $small-spacing;
}

.setup__select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95px;
    height: 95px;
    border-radius: $border-radius;

    &--active {
        border: 1px solid $color-7;
    }
}

.setup__select-icon {
    font-size: 2.5rem;
}

.setup__select-name {
    font-weight: 600;
}

.setup__goal-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 83px;
    padding-bottom: 83px;

    @include media-breakpoint-up(lg) {
        padding-top: 113px;
        padding-bottom: 113px;
    }
}

.setup__goal-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: $medium-spacing;
    padding: 5px;

    &--active {
        border: 1px solid $color-7;
        border-radius: $border-radius;
    }
}

.setup__goal-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.setup__goal-icon {
    font-size: 1.875rem;
    padding-right: 10px;
}

.setup__goal-title {
    font-weight: 600;
}
