.nav {
    background-color: $color-3;
    border-radius: 20px 20px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        width: unset;
        height: 380px;
        border-radius: 50px;

        top: 50%;
        left: 10px;
        bottom: unset;
        transform: translateY(-50%);
    }

    &__item {
        font-size: 1.875rem;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
            padding-left: 24px;
            padding-right: 24px;
        }

        &--active {

        }
    }

    &__link {
        color: unset;
        text-decoration: none;
    }
}
