.nav {
    background-color: $nav;
    border-radius: 20px 20px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        width: unset;
        height: 380px;
        border-radius: 50px;

        top: 50%;
        left: 10px;
        bottom: unset;
        transform: translateY(-50%);
    }

    &__item {
        font-size: 1.875rem;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    &__link {
        color: unset;
        text-decoration: none;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;

        &--active:before {
            content: "";
            position: absolute;
            height: 50px;
            width: 50px;
            background-color: $nav-active;
            border-radius: 50%;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nav__extra-wrapper {
    position: fixed;
    width: 100%;
    background-color: $color-4;
    left: 0;
    bottom: 100px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    animation: fade-in;

    @include media-breakpoint-up(lg) {
        width: fit-content;
        left: 100px;
        bottom: -75px;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: -25px;
        right: 7%;
        width: 50px;
        height: 50px;
        background-image: url('../images/polygon.svg');
        background-size: cover;

        @include media-breakpoint-up(lg) {
            transform: rotate(90deg);
            top: 80px;
            left: -25px;
            right: unset;
            bottom: unset;
        }
    }
}

.nav__extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__extra-text {
    font-size: 1.25rem;
    padding-left: 10px;
}
