$color-1: #4383FD;
$color-2: #58A6CB;
$color-3: #A4D2EB;
$color-4: #FFFFFF;
$color-5: #FE5666;
$color-6: #E9632C;
$color-7: #0C0C0C;
$color-8: #8BD26B;
$color-9: #F3E6FF;
$color-10: #B3CB6C;
$background-color: #F5F7FB;
