.button {
    background-color: $color-6;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $color-4;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;

    &:hover {
        color: $color-6;
        background-color: $color-4;
        transition: all 0.3s;
    }

    &--secondary {
        background-color: $color-4;
        color: $color-6;

        &:hover {
            color: $color-4;
            background-color: $color-6;
            transition: all 0.3s;
        }
    }

    &--tertiary {
        background-color: $color-5;

        &:hover {
            color: $color-5;
            background-color: $color-4;
        }
    }

    &--green {
        background-color: $color-8;

        &:hover {
            color: $color-8;
            background-color: $color-4;
        }
    }

    &--medium {
        padding: 10px 40px 10px 40px;
    }

    &--big {
        padding: 20px 0 20px 0;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--icon {
        color: black;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__img {
        padding-right: 10px;
        max-width: 30px;
    }
}


.play-button__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.play-button__circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: $play-button;
    margin: auto;
    transform: scale(1, 1);

    &.pulse {
        animation-timing-function: ease;
        animation: pulse 2s infinite;
        background-color: lighten($play-button, 25%);
    }
}

.play-button__symbol {
    fill: darken($play-button, 12%);
    stroke: darken($play-button, 12%);
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        fill: darken($play-button, 17%);
        stroke: darken($play-button, 17%);
        transform: scale(1.2, 1.2);
    }
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;

    @include media-breakpoint-up(lg) {
        padding-top: $medium-spacing;
        padding-bottom: $medium-spacing;
    }
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: $color-7;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
