.page__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__profile-img {
    @include media-breakpoint-up(lg) {
        position: fixed;
        left: 25px;
        bottom: 60px;
    }
}
